.favorite-row{
    align-items: center;
}
.favorite-row:not(:last-child){
    border-bottom: 1px dashed #ddd;
}
.notif-favorite{
padding: 50px;
    text-align: center;
    font-size: 18px;
    background-color: antiquewhite;
    margin: 50px;
    border: 2px dashed #DD7C5D;
    border-radius: 15px;
    }
.favorite-img{
    width:100px
}
.favorite-title{
    font-size: 18px !important;
    color :#969286;
    margin-bottom: 0px;
}

.favorite-price{
    font-weight: 600;
    color:#DD7C5D;
    margin-bottom: 0px;
}

.favorite-btn{
border: none;
background: none;
}
