.product{

}
.product .company{
    letter-spacing: 3px;
    font-size: 12px;
}
.product .name{
    font-size: 30px;
    font-weight: 600;
    color: #dd7c5d;
    letter-spacing: 2px;
}
.product .price{
    font-size: 20px;
    font-weight: 600;
    color: #969289;
}