/*couleur de fonds :#FFFAEE
couleur principale :#969286
couleur secondaire :#DD7C5D
*/
*{
   /* background-color:#FFFAEE ;*/
    font-family: 'League Spartan', sans-serif;
} 
h1,h2,h3,h4{
    font-family: 'Comfortaa', cursive

}
a{
    text-decoration: none;
    color: #969286;
}
button{
    background-color: unset;
    border: none;
}
.btn-svg svg{
    margin: 0px 10px 4px;
}
.main-btn{
        color: #dd7c5d;
        border: 1px dashed #dd7c5d !important;
        background-color: #fff !important;
        padding: 10px 20px;
        margin: 10px 20px;
}
.main-btn:hover {
    background-color: #dd7c5d !important;
    color: #fff;
}
.t-l{
    text-align: left;
}